<form>
    <div class="row form-group">
        <div class="col-6">
            <label for="">Name </label>
            <input type="text" name="Name" class="form-control" placeholder="Enter Your  Name">
        </div>
        <div class="col-6">
            <label for="">Organization</label>
            <input type="text" name="Organization" class="form-control" placeholder="Enter Your Organization">
        </div>
    </div>
    <div class="row form-group">
        <div class="col-6">
            <label for="">Designation</label>
            <input type="text" name="Designation" class="form-control" placeholder="Enter Your Designation">
        </div>
        <div class="col-6">
            <label for="">Mobile</label>
            <input type="text" name="Mobile" class="form-control" placeholder="Enter Your Mobile">
        </div>
    </div>
    <div class="row form-group">
        <div class="col-4">
            <label for="">Email</label>
            <input type="text" name="Email" class="form-control" placeholder="Enter Your Email">
        </div>   
        <div class="col-4">
            <label for="">Address</label>
            <input type="text" name="Address" class="form-control" placeholder="Enter Your Address">
           
        </div> 
        <div class="col-4">
            <label for="">Relation</label>
            <input type="text" name="Relation" class="form-control" placeholder="Enter Your Relation">
           
        </div> 
    </div>
    
    <button type="submit" class="btn btn-xl btn-outline-primary">Save</button>
</form>

