<form>
    <div class="row form-group">
        <div class="col-6">
            <label for="">Training Title </label>
            <input type="text" name="TrainingTitle" class="form-control" placeholder="Enter Your Training Title">
        </div>
        <div class="col-6">
            <label for="">Topics Coverd</label>
            <input type="text" name="TopicsCoverd" class="form-control" placeholder="Enter Your Topics Coverd">
        </div>
    </div>
    <div class="row form-group">
        <div class="col-6">
            <label for="">Institute</label>
            <input type="text" name="Institute" class="form-control" placeholder="Enter Your Major Institute">
        </div>
        <div class="col-6">
            <label for="">Location</label>
            <input type="text" name="Location" class="form-control" placeholder="Enter Your Location">
        </div>
    </div>
    <div class="row form-group">
        <div class="col-4">
            <label for="">Country</label>
            <input type="text" name="Result" class="form-control" placeholder="Enter Your Country">
        </div>
        <div class="col-4">
            <label for="">TrainingYear</label>
            <input type="date" name="TrainingYear" class="form-control">
        </div>
        <div class="col-4">
            <label for="">Duration</label>
            <input type="text" name="Duration" class="form-control" placeholder="Enter Your Duration">
           
        </div> 
    </div>
    
    <button type="submit" class="btn btn-xl btn-outline-primary">Save</button>
</form>

