<form>
    <div class="row form-group">
        <div class="col-6">
            <label for="">Lavel Of Education </label>
            <input type="text" name="LavelOfEducation" class="form-control" placeholder="Enter Your First Lavle">
        </div>
        <div class="col-6">
            <label for="">Exam Name</label>
            <input type="text" name="ExamName" class="form-control" placeholder="Enter Your Last Exam Name">
        </div>
    </div>
    <div class="row form-group">
        <div class="col-6">
            <label for="">Major Subject</label>
            <input type="text" name="MajorSubject" class="form-control" placeholder="Enter Your Major Subject">
        </div>
        <div class="col-6">
            <label for="">Institute Name</label>
            <input type="text" name="InstituteName" class="form-control" placeholder="Enter Your Institute Name">
        </div>
    </div>
    <div class="row form-group">
        <div class="col-4">
            <label for="">Result</label>
            <input type="text" name="Result" class="form-control" placeholder="Enter Your Result">
        </div>
        <div class="col-4">
            <label for="">Year Of Passing</label>
            <input type="date" name="YearOfPassing" class="form-control">
        </div>
        <div class="col-4">
            <label for="">Duration</label>
            <input type="text" name="Duration" class="form-control" placeholder="Enter Your Duration">
           
        </div> 
    </div>
    
    <button type="submit" class="btn btn-xl btn-outline-primary">Save</button>
</form>

