<form>
    <div class="row form-group">
        <div class="col-6">
            <label for="">Company Name </label>
            <input type="text" name="CompanyName" class="form-control" placeholder="Enter Your  Company Name">
        </div>
        <div class="col-6">
            <label for="">Company Business</label>
            <input type="text" name="Organization" class="form-control" placeholder="Enter Your Company Business">
        </div>
    </div>
    <div class="row form-group">
        <div class="col-6">
            <label for="">Designation</label>
            <input type="text" name="Designation" class="form-control" placeholder="Enter Your Designation">
        </div>
        <div class="col-6">
            <label for="">Department</label>
            <input type="text" name="Department" class="form-control" placeholder="Enter Your Department">
        </div>
    </div>
    <div class="row form-group">
        <div class="col-4">
            <label for="">Startdate</label>
            <input type="date" name="Startdate" class="form-control">
        </div>  
        <div class="col-4">
            <label for="">EndDate</label>
            <input type="date" name="EndDate" class="form-control">
        </div> 
    </div>
    
    <button type="submit" class="btn btn-xl btn-outline-primary">Save</button>
</form>


