<form>
    <div class="row form-group">
        <div class="col-6">
            <label for="">First Name</label>
            <input type="text" name="FirstName" class="form-control" placeholder="Enter Your First Name">
        </div>
        <div class="col-6">
            <label for="">Last Name</label>
            <input type="text" name="FirstName" class="form-control" placeholder="Enter Your Last Name">
        </div>
    </div>
    <div class="row form-group">
        <div class="col-6">
            <label for="">Father Name</label>
            <input type="text" name="FatherName" class="form-control" placeholder="Enter Your Father Name">
        </div>
        <div class="col-6">
            <label for="">Mother Name</label>
            <input type="text" name="MotherName" class="form-control" placeholder="Enter Your Mother Name">
        </div>
    </div>
    <div class="row form-group">
        <div class="col-4">
            <label for="">Date of birth</label>
            <input type="date" name="DateOfBirth" class="form-control">
        </div>
        <div class="col-4">
            <label for="">Gender</label>
            <br>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" value="optionMale1">
                <label class="form-check-label" for="inlineRadio1">Male</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" value="Female">
            <label class="form-check-label" for="inlineRadio1">Female</label>
            </div>
        </div>
        <div class="col-4">
            <label for="">Marital Status</label>
            <select name="MaritalStatus" class="form-control">
                <option value="">Select Marital Status</option>
                <option value="Un-Married">Un-Married</option>
                <option value="Married">Married</option>
            </select>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-6">
            <label for="">Permanent Address</label>
            <textarea name="ParmanentAddress" rows="5" class="form-control"></textarea>
        </div>
        <div class="col-6">
            <label for="">Present Address</label>
            <textarea name="PresenttAddress" rows="5" class="form-control"></textarea>
        </div>
    </div>
    
    <button type="submit" class="btn btn-xl btn-outline-primary">Save</button>
</form>
